@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Varela+Round:regular);

*, *::before,*::after {
  margin: 0;
  padding: 0;
  bottom: none;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: 'Open Sans';
  color: #111111;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
  
.page {
  flex: 1 1 auto; 
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {}

li {
  list-style: none;

}

/* --------------------------------------------------------------- */

.header {
  flex-direction: column;
}

.header__contacts {
  background-color: #A5C926;
  height: 32px;
}

.header__contacts-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: 32px; 
  margin: 0 auto;
  padding: 0 15px;
}

.header__contacts-phonemail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__contacts-social ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-header{
 
}

.text-header-link {
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  font-size: 11px;
  line-height: 16px;
  padding-right: 15px;
}

.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  min-height: 72px;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-self: center;
  align-items: center;
}
.menu {
  
}
.menu__list {
  display: flex;
  gap: 40px;
  font-size: 13px;
  color: #111111;
  text-decoration: none;
}
.menu__item {
}

.menu__link {
  font-size: 13px;
  line-height: 24px;
  color: #111111;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.logo {
  color: #111111;
  font-size: 21px;
  line-height: 32px;
  text-decoration: none;
  padding-right: 40px;
  margin-bottom: 4px;
}

.logo:hover {
  text-decoration: underline;
}

.menu__basket {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu__basket-namber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #A5C926;
  color: #FFFFFF;
}

/* ---------------------------------------------- */

.main__page {
  background-color: #F8F8F8;
}

.main__image {
  max-width: 640px;
  height: 100%;
}

.main__button {
  padding: 152px 15px 120px 15px;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  gap: 30px;

}

.main__button-teddy {
  display: flex;
  justify-content: center;
  width: 570px;
  height: 188px;
  background-color: #FFC12C;
  border-radius: 16px;
  gap: 30px
}

.main__button-designer {
  display: flex;
  justify-content: center;
  width: 570px;
  height: 188px;
  background-color: #FB416B;
  border-radius: 16px;
  gap: 30px;
}

.main__button-image {
  display: flex;
  align-self: flex-end;
  padding-bottom: 30px;
}

.text-title {
  color: #FFFFFF;
  font-family: 'Varela Round';
  font-weight: 400;
  font-size: 27px;
  line-height: 36px;
  padding-bottom: 10px;
}

.button-link {
  width: 112px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 24px;
}

.button-link:hover {
  text-decoration: underline;
}

.main__button-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-now {
  display: flex;
  justify-content: end;
}

.product__conteiner {
  height: 100%;
  background-color: #F8F8F8;
  padding: 0 15px;
}

.product__title {
  max-width: 1170px;
  margin: 0 auto;
}

.control {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #F8F8F8;
}

.control__title {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #111111;
}

.control__slide {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  padding-left: 5px;
  border-bottom: 2px #DDDDDD;
  padding-bottom: 32px;
}

.control__slide:hover {
  text-decoration: underline;
}

.line {
  height: 2px;
  background-color: #E5E5E5;
}

.product__soft-toys {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px 120px 15px;
  padding-top: 40px;

}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 0;
  margin: 0;
  height: 328px;
  width: 270px;
}

.img-product {
  width: 182px;
  height: 182px;
  margin: 0;
  padding: 0;
}

.product-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.product-button {
  margin: 0 auto;
  width: 92px;
  height: 24px;
  border-radius: 10px;
  border: none;
  background-color: #A5C926;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.product-button:hover {
  text-decoration: underline;
}

.watchStory {
  height: 464px;
  background-image: url(../img/watchStory.jpg);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.watchStory__info {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.watchStory__info p {
  font-family: 'Open Sans';
  font-style: normal; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.watchStory__info h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  padding: 15px 0 20px 0;

}

.watchStory__info-img {
  padding: 25px 0;
}

.template__container-info {
  padding-top: 120px;
}

.template__info-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.template__info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A5C926;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 20px;
}

.template__info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  flex-wrap: wrap;
  max-width: 450px;
  padding-bottom: 3px;
}



